#ckfinder-input{
        
        width: 20em;
        border:none;
        background: white;
    }
    #ckfinder-popup{
        padding: 6px;
        z-index: 10;
        border:none;
    }
    #dataTables-example th{
	text-align: center;
}