#ckfinder-input {

    width: 20em;
    border: none;
    background: white;
}

#ckfinder-popup {
    padding: 6px;
    z-index: 10;
    border: none;
}

#ckfinder-input2 {

    width: 20em;
    border: none;
    background: white;
}

#ckfinder-popup2 {
    padding: 6px;
    z-index: 10;
    border: none;
}

#dataTables-example th {
    text-align: center;
}

#cart thead {
    background: #B17C1C;
}

#total tr {
    width: 30%;
    float: right;
    background: #5cb85c;
}

#total table {
    border: none;
}