div.tab {
    overflow: hidden;
    background-color: #B71C1C;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    width: 50%;
    padding: 0.8em;
    color: white;
}

div.tab button:hover {
    background-color: #B17C1C;
}

div.tab button.active {
    background-color: #7cb342;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    margin-top: 10px;
}

#floatDivWrapper {
    font-size: 11px
}

#floatDiv.fixed {
    position: fixed;
    top: 60px;
    margin-right: 7.5em;
    width: 25%;
}

.list-inline li:nth-child(3) {
    width: auto;
}

.nopadding {
    text-align: left;
}

.p-name {
    white-space: normal;
    max-width: 65%;
}

.serving-container {
    padding-top: 4px;
}

#chooseServing {
    height: 24px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    width: 32px;
}

.capit {
    padding-right: 120px;
}

.headline {
    line-height: 30px;
    padding-right: 170px;
}

.thumb img {
    width: 25%;
    float: left;
}

.title span {
    margin-left: 0.5em;
    font-weight: bold;
}

.innings {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.like, .comment {
    font-size: 12px;
    box-sizing: border-box;
    color: #CCC
}

.rating {
    margin-left: 0.5em;
}

.recipe-more {
    padding: 10px;
}

.recipe-detail-box .has-photo .step-photos .one-photo {
    width: auto;
    height: auto;
}

.form-box {
    display: block;
}

.rating-scores {
    vertical-align: super;
}

.rating-value {
    line-height: 14px;
}

.reply-review {
    margin-left: 6em;
    margin-bottom: 1em;
}

.replyForm {
    text-decoration: none;
    color: blue;
    font-size: 12px;
}

.comment-profile-img .img-rounded {
    width: 5%;
    float: left;
    border-radius: 50%;
}

#recipereviewcommentbox {
    padding-right: 50px;
    min-height: 50px;
    overflow-y: hidden;
    height: 56px;
}

.user-avt img {
    float: left;
    width: 5%;
    border-radius: 50%;
}

.comment-head {
    width: 100%;
}

.cooky-user-link {
    color: #333;
    float: left;
}

.date-time {
    margin-left: 10px;
    float: left;
    font-size: 11px;
}

.comment-text {
    word-wrap: inherit;
}

.comment-item {
    margin-bottom: 2em;
}

.title span {
    margin-left: 0;
}

#notifyLogin a {
    text-decoration: none;
    color: blue;
    font-size: 14px;

}

#notifyLogin a:hover {
    color: #B71C1C;
}

#reply-all {
    margin-left: 5em;
}

.buttuonAction {
    padding: 5px 8px 0 0;
}

#notifyWait {
    background: #7cb342;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    box-shadow: 5px 5px 5px #666;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
}
.info-main-receipt span{
    font-size:12px;
    color:#CCC;
}
.info-main-receipt a{
    font-size:12px;
    color:#0366d6;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
    margin: 0;
    padding: 0;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}