.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #B71C1C;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #B71C1C;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #B71C1C;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #B71C1C;

}

.wizard li.active span.round-tab i {
    color: #B71C1C;
}

span.round-tab:hover {
    color: #B71C1C;
    border: 2px solid #B71C1C;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #B71C1C;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #B71C1C;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}

.wizard h3 {
    margin-top: 0;
}

.receipt-form {
    margin-left: 4em;
}

.round-tab {
    background: #B71C1C;
}

textarea {
    resize: none;
    height: 10em !important;
}

#addIngredient,#addStep {
    border: none;
    float: right;
    width: 3em;
    height: 3em;
    background: #B71C1C;
}

.wizard h1 {
    text-align: center;
    padding-top: 1em;
}

.next-step, .next-step1, .next-step2, .next-step3 {
    background: #B71C1C;
    margin-right: 1.5em;
}
.delete{
    background: #B71C1C;
}
.right label{
    border:none;
}
.avatarReceipt img{
    width: 100%;
}
#informStep .btn{
    border:none;
}
.resultStep img{
    width: 100%;
}